h1 {
    background-color:rgb(56, 56, 70);
    color: white;
    text-align: center;
}

body{
    background-color: lightgray;
}

.btn-primary {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group {
    margin: 20px;
    font-weight: bold;
}

.city {
    display: block;
    background-color: rgb(56, 56, 70);
    border: none;
    margin-bottom: 10px;
    color: white;
    padding: 10px 64px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.weather{
    float: right;
    color:rgb(56, 56, 70);
    border-style: solid rgb(56, 56, 70);
}


#fiveDayWeather{
    background-color: rgb(86, 86, 196);
    color: white;
    margin-left: 100px;
}