h1 {
    background-color:rgb(56, 56, 70);
    color: white;
    text-align: center;
}


.btn-primary {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group {
    margin: 20px;
    font-weight: bold;
}

.city {
    background-color: lightblue;
    margin-left: 35px;
    margin-top: 10px;
    display: block;
}

.weather{
    float: right;
    color:rgb(56, 56, 70)
}